<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AssemblerGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <AssemblerGui.Properties.Settings>
            <setting name="QuartusStp" serializeAs="String">
                <value>C:\altera\13.0sp1\quartus\bin64\quartus_stp.exe</value>
            </setting>
            <setting name="EnableLongJump" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableExtension" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppendHalt" serializeAs="String">
                <value>True</value>
            </setting>
        </AssemblerGui.Properties.Settings>
    </userSettings>
</configuration>